/* 3 tipos 
. - classe
# - id
tag - div  */
nav{
    margin-left:430px;
}
a{
    font-size: 24px;
    font-family: cursive;
    color: black;
    text-decoration: none;
    padding: 12px;
}
a:hover{
    color: yellow;
}

.container{
    display: flex;
}

/* .cont1, .cont2{
    margin-left: 150px;
} */
.cont1, .cont2{
    padding: 25px;
}
img{
    width: 180px;
    height: 180px;
}